*{
    font-family: sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background: linear-gradient(to right, #ac3642, #DA4453);
    margin: 0px;
    
}
.box, .thongtin{
    position: relative;
    width: 85%;
    min-height: 600px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 27px;
    opacity: 0.9;
    background: white;
    box-shadow: 14px 14px 44px #ac3642,
    -14px -14px 44px #ff5264;

}
.left {
    position: relative;
    float: left;
    height: auto;
    width: 50%;
    padding:40px;
    
}
#btn-back {
    margin-left: 15px;
    cursor: pointer;
    transition: 0.5s;
}

#btn-back:hover {
    margin-left: 8px;
}
.right {
    position: relative;
    float: right;
    width: 50%;
    text-align: center;
}
.right h2 {
    margin-top: 70px;
    margin-bottom: 30px;
    color: #DA4453;
    font-size: 18px;
    
}
.right>img{
    max-width: 90%;
    max-height: 370px;
}
#dangki{
    position: relative;
    border-right:solid 2px #DA4453;
    width: 100%;
    height: auto;
}
#dangki table th{
    text-align: left;
    vertical-align: middle;   
    font-weight: normal; 
}
#dangki table{
     position: relative;
     width: 100%;
     border-spacing: 20px;  
}
input[type="file"]{
    border: none;
    max-width: 230px;
    border: solid 1px #DA4453;
    border-radius: 20px;
    padding: 5px 15px;
}
input[type="submit"],input[type="reset"]{
    background-size: 200%;
    background:linear-gradient(to right, #ac3642, #DA4453);
    padding: 10px 18px;
    color: white;
    border: solid 1px #DA4453;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
input[name="lamlai"]{
    background: none;
    
    background-color: #4d3e55;
}
input[type="text"],input[type="password"],textarea{
    border: none;
    outline: none;
    border: solid 1px #DA4453;
    border-radius: 20px;
    padding: 5px 15px;
    width: 100%;
    
}
textarea{
    border-radius: 10px;
}
#dangki label{
    margin-right: 15px;
}
input{
    transition: 0.3s;
}
input:focus,
input:hover,
textarea:hover,
textarea:focus {
    outline: none;
    border: solid 1px #4d3e55;
}
select{
    padding: 5px 15px;
    width: 230px;
    border:solid 1px #DA4453;  
    text-align: center;
    border-radius: 20px;
}

select:focus,
select:hover {
    outline: none;
    border: solid 1px #4d3e55;
}
option:hover{
    background-color: #DA4453;
}
@media only screen and (max-width: 1200px) {
    #dangki {
        border: none;
    }
    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }
}
@media only screen and (max-width: 910px) {
    .right{
        visibility: hidden;
        width: 0%;
    }
    .left {
        padding:20px;
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    body{
        background:none;
    }
    .box,
    .thongtin{
        margin-top: 0;
        width: 100%;
        padding:50px 0;
        box-shadow: none;
        border: none;
    }
    .left{
        margin: 0;
        width: 100%;
        padding: 0;
    }
    .btn-style1{
        margin-left: 50px;
    }
    #dangki{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #dangki table{
        width: 100%;
    }

}
.myfooter {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #ac3642;
    text-align: center;
    color: #aaaaaa;
}
.thongtin{
    width: 600px;
    text-align: center;
    padding: 50px 50px;
}
.thongtin h2{
    color: #DA4453;
    text-align: center;
    font-size: 20px;
    margin-top:50px;
    margin-bottom: 30px;
}
.thongtin img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.thongtin table th{
    width: 45%;
    font-weight: 600;
}
.thongtin table{
    text-align: left;
    width: 100%;
    padding: 0px 20px;
    border-spacing: 8px;
    color: #331313;
}
.thongtin input[type="submit"]:hover,
.thongtin input[type="reset"]:hover{
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.prm-btn{
    background-color: transparent;
    border: none;
    padding: 8px 15px;
    border: solid 2px #DA4453;
    border-radius: 30px;
    color: #DA4453;
    cursor: pointer;
    outline: none;
}
.prm-btn:hover{
    background-color: #DA4453;
    color: #ffffff;
}
#imgPreview{
    border-radius: 10px;
    float: right;
    height: auto;
    width: 200px;
    margin-right: 20px;
}
.btn-style1 {
    position: absolute;
    text-decoration: none;
    border: none;
    outline: none;
    display: inline-block;
    top: 20px;
    left: 20px;
    padding: 10px 15px 10px 35px;
    border-radius: 30px;
    background-color: #e2e2e2;
    color: #DA4453;
    transition: 0.2s;
    cursor: pointer;
}
.btn-style1 img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 3px;
}
.btn-style1:hover {
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.2);
}